body {
    font-family: 'ubuntu';
    color: darkslategray;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.full-width {
    width: 100%;
}

.header {
    background-color: lightblue;
    height: 95px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > .photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: -5px -20px;
    margin-top: 40px;
    background-color: white;
    border: 5px solid lightblue;
}

.container {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% auto;
    gap: 10px;
}

.container > .sidebar > .personal,.school {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightblue;
}
.container > .sidebar > *:not(.skills) > div {
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}
.container > .sidebar > .school > div {
    font-size: 13px;
}

.container > .sidebar > .skills > div {
    margin-top: 5px;
    font-size: 13px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: lightgray;
}
.bar > .bar-full {
    width: 99%;
    height: 100%;
    background-color: royalblue;
}
.bar > .bar-85 {
    width: 85%;
    height: 100%;
    background-color: royalblue;
}
.bar > .bar-75 {
    width: 75%;
    height: 100%;
    background-color: royalblue;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content h3 {
    border-bottom: 1px solid lightblue;
}

.experience li {
    margin-bottom: 15px;
}
.experience li:not(:last-child) {
    border-bottom: 1px groove lightsteelblue;
}

.experience p {
    font-size: 15px;
}

.experience .daterange, .school .daterange {
    float: right;
    font-size: 12px;
}

.footer {
    display: none;
}
